<ion-view view-title="Completar" class="bar-assertive">
    <ion-content>
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compalabras">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/menu/palabras.png" height="150" width="150">                        
                        </div>
                        <div class="item text-center">
                            <h3 style="font-size: 30px !important;">POR PALABRAS</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/comsonidos">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/sonidos.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3 style="font-size: 30px !important;">POR SONIDOS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
