<ion-view view-title="Inicio" class="bar-assertive">

    <ion-content>  
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/letras">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/letras.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3>LETRAS</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/vocales">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/vocales.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3>VOCALES</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>    
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/palabras">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/menu/palabras.png" height="150" width="150">                        
                        </div>
                        <div class="item text-center">
                            <h3>PALABRAS</h3>
                        </div>
                    </div> 
                </a>
            </div>                   
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/sonidos">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/sonidos.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3>SONIDOS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/numeros">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/numeros.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3>NUMEROS</h3>
                        </div>
                    </div>
                </a>
            </div>        
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/completar">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/menu/completar.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3>COMPLETAR</h3>
                        </div>
                    </div>
                </a>
            </div>
      </div>
    </ion-content>

</ion-view>
