<ion-popover-view>        
    
    <ion-list>
       <ion-item class="item item-icon-left">
           <a style="text-decoration:none !important; color:#444 !important;" ng-click="hideE()" ng-href="#/app/addPalabra/{{popover.item.Id_words}}"><i class="icon ion-ios-plus-outline"></i> Agregar palabra</a>
           
       </ion-item>
        <ion-item class="item item-icon-left">
           <a style="text-decoration:none !important; color:#444 !important;" ng-click="hideE()" ng-href="#/app/editPalabra/{{popover.item.Id_words}}"><i class="icon ion-ios-compose-outline"></i> Editar palabra</a>
           
       </ion-item>
       
    </ion-list>

 </ion-popover-view>
