<ion-view view-title="Sonidos" class="bar-assertive">
  <ion-content class="center-vert">
    
     <div class="row">
        <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/simples">
                    <div class="card">
                        <div class="item item-image">
                            <img src="img/sonidos/simples.png" height="150" width="150">                        
                        </div>
                        <div class="item text-center">
                            <h3>SIMPLES</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col col-50">
                <a style="text-decoration:none !important;" class="" href="#/app/compuestos">
                    <div class="card">
                        <div class="item item-image">
                          <img src="img/sonidos/compuestos.png" height="150" width="150">
                        </div>
                        <div class="item text-center">
                            <h3>COMPUESTOS</h3>
                        </div>
                    </div>
                </a>
            </div>
    </div>
     
  </ion-content>
</ion-view>
